<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="griffmedia.ghazal.liveprint">
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".CreateLinkPage"
            android:label="@string/title_activity_create_link_page"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".ControlPanel"
            android:label="@string/title_activity_control_panel"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LoginPage"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LPListPage"
            android:label="@string/title_activity_lplist_page"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".NatTreasureHunt"
            android:label="@string/title_activity_nat_treasure_hunt"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LPHomePage"
            android:label="@string/title_activity_lphome_page"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.Launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="0526e06252f2d4c0f84bf413f62313f1c2fea5b4" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"></meta-data>
        </provider>

    </application>

</manifest>